@import "./base.css";

#app {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
}

body {
  height: 100vh;
  background-color: rgb(250, 248, 245);
  background-image: radial-gradient(circle, #373bc8 10%, transparent 10%),
    radial-gradient(circle, #373bc8 10%, transparent 10%);
  background-size: 20px 20px;
  background-position: 0 0, 50px 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
